<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Login</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{/register}" method="post">
			<p>
			<label for="email">Email</label>
			<input type="text" id="email" name="email"/>
			</p>
			<p>
			<label for="email">First Name</label>
			<input type="text" id="firstname" name="firstName"/>
			</p>
			<p>
			<label for="email">Last Name</label>
			<input type="text" id="lastname" name="lastName"/>
			</p>
			<p>
			<label for="password">Password</label>
			<input  type="text" id="password" name="password" />
			</p>
			<p>
			<label for="password">Repeat Password</label>
			<input  type="text" id="repeatpassword" name="repeatPassword" />
			</p>
			<p>
			<button type="submit">Login</button>
			</p>
		</form>
	</div>
</body>
</html>