<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Hello World</title>
</head>
<body class="page-queue page-queuelight page-skinlight page-app-en-us">

	<div layout:fragment="content">
		<div id="container" class="page-app-premiumcta">
			<div id="page">
				<div id="content">
					<div id="page-list"
						class="wrapper wrapper-full page-item-grid active">
						<div class="list-secondary list-secondary-nave-main">
							<h2>Hello World</h2>
						</div>
						<ul id="list"
							class="item-list item-list-main">
							<li th:each="entry : ${entries}"  class="item ite-type-normal-excerpt adjusted"><img
								th:attr="src=|/link/image/${entry.entryId}|"></img></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>