body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.container .text-muted {
	margin: 20px 0;
}

.text-muted {
	color: #777;
}

#navbar>div>div>form>div>button.btn-link:hover, #navbar>div>div>form>div>button.btn-link:focus
	{
	color: #fff;
	text-decoration: none;
}

/* move logout button down into line */
.nav.navbar-left .navbar-form {
 	margin-top:11px;
}
 .navbar .navbar-right >li >a {
 	padding-left:5px;
 	padding-right:5px;
 }
 
.loginmodal-container {
	width: 60%;
	margin: 0 auto;
}

.loginmodal-container input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-container button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-submit {
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4d90fe;
	padding: 17px 0px;
	font-size: 14px;
}

div.login-name {
	color: #ffffff;
	padding: 20px;
}

.loginmodal-container input[type=text], input[type=password] {
	border: none;
	border-bottom: 1px solid #999999;
}

.field-error {
	border-bottom: 1px solid #f44336 !important;
}
.error-message {
	text-align: left;
	margin-bottom: 5px;
	display: inline-block;
    font-size: small;    
 	margin-left: 8px;
 }

.error-container {
	margin-top: -5px;
}

.error-list {
	list-style: none;
	text-align: left;
}

.has-error span.help-block {
	color: #f44336;
}

/*.popover .arrow, .tooltip .arrow, .popover .tooltip-arrow, .tooltip .tooltip-arrow {
    display: block;
}

.popover.bottom .arrow:after {
  border-bottom-color: white;
}

.popover {
	color: black;
	background-color: white;
}*/


